{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": true
      }
    }]
  ],
  "plugins": [
		["module-resolver", {
      "root": ["./src"]
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
